body{
    background-image: url("../images/image7.jpg");
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#logo{
    width: 100px;
    height: auto;
  }

header{
    display: flex;
    align-items:center;
    box-shadow: 0 2px 2px 5px rgba(37, 1, 63, 0.5);
    padding: 5px;
    position: relative;
    z-index: 1;
    text-decoration: none;
 }

button {
    justify-content: right;
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(160, 160, 223);
    color: black;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    text-decoration: none;
}
button a {
    text-decoration: none;
}

button:hover {
    background-color: lightblue;
}

  #universe {
    width: 70%;
    margin: 0 auto 60px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.127);
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    padding: 2px;
    white-space: nowrap;
    overflow: hidden; 
}

@keyframes scrollFooter {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer p {
    display: inline-block;
    animation: scrollFooter 10s linear infinite;
}


  @media (max-width: 767px) {
    header {
        justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        overflow-x: hidden;
    }
    header {
        justify-content: flex-end; 
    }
    button {
        margin-right: 5px;
        margin-left: 5px;
    }
}

@media (min-width: 1024px) {
    header {
        justify-content: left; 
    }
}